button {
    border: none;
    padding: 1rem 5rem 1rem 5rem;
    background-color: white;
    text-align: center;
}

button:hover {
    border-top: black solid .01rem;
    border-bottom: black solid .01rem;
    -webkit-box-shadow: inset 0 -8px 6px -6px rgb(41, 178, 241);
	   -moz-box-shadow: inset 0 -8px 6px -6px rgb(41, 178, 241);
	        box-shadow: inset 0 -8px 6px -6px rgb(41, 178, 241);
}

button:active {
    border-top: black solid .01rem;
    border-bottom: black solid .01rem;
    background-color: rgb(163, 207, 228);
    -webkit-box-shadow: inset 0 -8px 6px -6px rgb(41, 178, 241);
	   -moz-box-shadow: inset 0 -8px 6px -6px rgb(41, 178, 241);
	        box-shadow: inset 0 -8px 6px -6px rgb(41, 178, 241);
    
}


/*  */
.ai-c {
    align-items: center;
}
.bd {
    border: .1rem solid black;
}

.bgc-b {
    background-color: rgb(175, 178, 233);
}


.bgc-w {
    background-color: white;
}

.bs {
    box-shadow: 10px 5px 5px rgb(207, 205, 205);
}
.d-f {
    display: flex;
}

.fd-c {
    flex-direction: column;
}

.fw {
    flex-wrap: nowrap;
}

.jc-c {
    justify-content: center;
}
.jc-sb {
    justify-content: space-between;
}

.mn-2 {
    margin-bottom: 3rem;
}
.pd {
    padding-top: 3rem;
}

.pd-2 {
    padding: 2rem;
}
.ta-c {
    text-align: center;
}

.vh100 {
 height: 100vh;
}

.z {
    z-index: 1;
}

@media (max-width: 768px) {
    .mn-sm {
        margin: 2rem;
    }

    .pd-sm {
        padding: none;
    }
}

@media (min-width: 769px) {
    .mn-md {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    
    .pd-md {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}